$coffee: #22130d;
$aw: antiquewhite;
$flex-hf: 0 1 auto;
$flex-main: 1 1 auto;

@font-face {
    font-family: 'Wild World';
    src: url(../fonts/wild_world.otf) format('opentype');
}

@mixin flex($flow, $center: false) {
    display: flex;
    flex-flow: $flow;
    @if $center {
        align-items: center;
        justify-content: center;
    }
}
